[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory=%h/cloud/

[Service]
Type=notify
User=__APP__
Group=__APP__
ExecStartPre=/bin/mkdir -p %h/cloud/%i
ExecStart= \
  __INSTALL_DIR__/rclone mount \
    --config=__INSTALL_DIR__/rclone.conf \
    --allow-non-empty \
    --vfs-cache-mode writes \
    --vfs-cache-max-size 100M \
    --dir-cache-time 72h \
    --vfs-read-chunk-size-limit 128M \
    --vfs-read-chunk-size-limit off \
    --log-level DEBUG \
    --log-file /tmp/rclone-%i.log \
    --umask 022 \
    --allow-other \
    %i: %h/cloud/%i
ExecStop=/bin/fusermount -uz %h/cloud/%i
ExecStop=/bin/rmdir %h/cloud/%i

[Install]
WantedBy=default.target